@keyframes fadeOut {
  from {
    opacity: var(--md-transition-opacity-original, 1);
  }
  to {
    opacity: 0;
  }
}
/* leave (from) a */
.md-transition-forward-leave-active,
.md-transition-forward-leave-active[data-v-md-transition] {
  width: var(--md-transition-width-a, 100%);
  height: var(--md-transition-height-a, auto);
  min-height: var(--md-transition-height-a, inherit);
  max-height: var(--md-transition-height-a, 100vh);
  margin: var(--md-transition-margin-a, 0);
  position: absolute;
  z-index: 0;
  animation-name: fadeOut;
  animation-duration: var(--md-transition-duration, 250ms);
  animation-timing-function: ease-in;
}

@keyframes slideIn {
  from {
    transform: var(--md-transition-transform, translate3d(0, 56px, 0));
    opacity: 0;
  }
  to {
    transform: var(--md-transition-transform-original, translate3d(0, 0, 0));
    opacity: var(--md-transition-opacity-original, 1);
  }
}
/* enter (to) b */
.md-transition-forward-enter-active,
.md-transition-forward-enter-active[data-v-md-transition] {
  position: relative;
  z-index: 1;
  user-select: none;
  animation-name: slideIn;
  animation-duration: var(--md-transition-duration, 250ms);
  animation-timing-function: ease-out;
}

@keyframes slideOut {
  from {
    transform: var(--md-transition-transform-original, translate3d(0, 0, 0));
    opacity: var(--md-transition-opacity-original, 1);
  }
  to {
    transform: var(--md-transition-transform, translate3d(0, 56px, 0));
    opacity: 0;
  }
}
/* leave (from) a */
.md-transition-backward-leave-active,
.md-transition-backward-leave-active[data-v-md-transition] {
  width: var(--md-transition-width-a, 100%);
  height: var(--md-transition-height-a, auto);
  min-height: var(--md-transition-height-a, inherit);
  max-height: var(--md-transition-height-a, 100vh);
  margin: var(--md-transition-margin-a, 0);
  position: absolute;
  z-index: 1;
  user-select: none;
  animation-name: slideOut;
  animation-duration: var(--md-transition-duration, 250ms);
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: var(--md-transition-opacity-original, 1);
  }
}
/* enter (to) b */
.md-transition-backward-enter-active,
.md-transition-backward-enter-active[data-v-md-transition] {
  position: relative;
  z-index: 0;
  animation-name: fadeIn;
  animation-duration: var(--md-transition-duration, 250ms);
  animation-timing-function: ease-in;
}

.md-transition-hidden {
  display: none !important;
}
